/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Gray Co font */
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-links{
    align-items: center;
}
.inter-font{
    font-family: "Inter", sans-serif;
}
/* Shared Style */
.orange{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-right: 9px;
    margin-top: 6px;
}
.effects-01{
    position: absolute;
    top: 200px;
    left: 12%;
    margin-left: 900px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.effects-02{
    position: absolute;
    top: 450px;
    right: 340px;
    margin-left: 900px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.footer-section{
    justify-content: space-around;
}
.row-01{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;
}
.row-02{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;
}
.card{
    position: relative;   
}
.margin-left{
    margin-left: 100px;
}
.header-text{
    position: absolute;
    top: 70%;
    left: 10%;
}
.paragraph{
    position: absolute;
    top: 80%;
    left: 10%;
}

.container img{
    width: 100%;
    filter: brightness(70%);
    border-radius: 18px;
}
.image-container{
    height: 200px;
    width: 320px;
    /* border: 2px solid red; */
    align-items: center;
    margin-right: 40px;
}


.select{
    height: 30px;
    width: 570px;
    /* border: 2px solid red; */
}
.input-field{

}
.table-section{
    flex-direction: column;
}
.margin-top{
    margin-top: 10px;
}
.bottom{
    margin-bottom: 30px;
}
.text{
    margin-top: 20px;
    margin-bottom: 14px;
}
.caption{
    margin-left: 150px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.Calculate-your-BMI{
    margin-right: 100px;
    flex-direction: column;
}
.bmi-style{
    justify-content: space-between;
}
.excercise{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
}
.photos{
    height: 100px;
    width: 100px;
}
.style{
    text-align: center;
}
.top{
    margin-top: 100px;
}
.top-02{
    margin-top: 80px;
    margin-bottom: 80px;
}
.top-03{
    margin-top: 40px;
}
.extra-mile{
    margin-left: 55px;
}
.height{
    margin-top: 10px;
}
.run-an-extra{
    justify-content: space-between;
    align-items: center;
    margin-left: 190px;
}
.display-flex{
    display: flex;
}
.habits-section{
    margin: 100px 0px;
    text-align: center;
}
.access{
    margin: 14px 0px;
}
.challenge-habits{
    /* border: 4px solid red; */
    justify-content: space-between;
    width: 1000px;
    margin-left: 170px;
}
.margin-bottom{
    margin-bottom: 80px;
}
.run-an-extra{
    align-items: center;
    /* border: 4px solid red; */
}

/* .habits-01{
    border: 2px solid rgb(230, 92, 92);
}
.habits-02{
    border: 2px solid rgb(230, 92, 92);
}
.habits-03{
    border: 2px solid rgb(230, 92, 92);
}
.habits-04{
    border: 2px solid rgb(230, 92, 92);
} */
.radius{
    border-radius: 100px;
}
.align{
    text-align: center;
}
/* color-01 */
.color-01{
    color: rgb(255, 255, 255);
}
/* color-02 */
.color-02{
    color: rgba(255, 255, 255, 0.5);
}
/* color-03 */
.color-03{
    color: rgba(255, 255, 255, 0.6);
}
/* color-04 */
.color-04{
    color: rgb(230, 83, 60);
}
/* background-color-01 */
.bg-01{
    background-color: rgb(17, 17, 17);
}
.bg-02{
    background-color: rgba(255, 255, 255, 0.1);
    height: 30px;
    width: 250px;
    border-radius: 8px;
}
/* button related color */
.btn-primary{
    background-color: rgb(230, 83, 60);
    color: white;
}

/* header Style */
h3{
    font-style: italic;
}
/* navbar related Style */
.nav-item{
    list-style: none;
    margin-right: 40px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.nav-border{
    border: 1px solid white;
    border-radius: 30px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.fitness{
    font-weight: 800;
    font-size: 2.25rem;
}

/* button related style */
.navnar-btn{
    border-radius: 46px;
    padding: 10px 30px; 
    font-weight: 600;
    font-size: 18px;
    border: none;
    margin-left: 0px;
}
.navbar-btns{
    margin-top: ;
}
.banner-section{
    justify-content: space-between;
    align-items: center;
    margin-left: 190px;
}
.healthy{
    /* border: 2px solid red; */
    height: 500px;
    width: 50%;
}

.gym{
    /* border: 2px solid red; */
    height: 600px;
    width: 50%;
}
.remove-color{
    background-color: none;
}
.btn-style{
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
    box-shadow: 0 0.2em 1.5em 0 rgba(255, 139, 85, 0.5);
}
.btn-style:hover{
    transform: translateY(-5px);
    box-shadow: 0 0.2em 1.5em 0 rgba(255, 110, 85, 0.6);
}
/* font related style */
.font-01{
    font-weight: 900;
    font-size: 78px;
}
.font-02{
    font-weight: 900;
    font-size: 48px;
}
.font-03{
    font-weight: 400;
    font-size: 14px;
}
.font-04{
    font-weight: 600;
    font-size: 18px;
}
.font-05{
    font-weight: 900;
    font-size: 28px;
}
.font-06{
    font-weight: 500;
    font-size: 16px;
}
.font-07{
    font-weight: 700;
    font-weight: 32px;
}
.font-08{
    font-weight: 400;
    font-size: 23px;
}
.font-09{
    font-weight: 900;
    font-size: 40px;
}
.fitness-content{
    font-weight: 400;
    font-size: 20px;
}
#shape{
    font-family: "Grey Qo", cursive;
}
.glass-effects{
    margin-right: 220px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
}
.glass-effects-02{
    margin-right: 220px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    /* border-radius: 10px; */
     border: 1px solid rgba( 255, 255, 255, 0.18 ); 
     width: 100%;
}
.glass-effects-03{
    margin-right: 240px;
    margin-left: 240px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
     border: 1px solid rgba( 255, 255, 255, 0.18 ); 
}
/* images related style */
.image{
    height: 250px;
    width: 280px;
    border-radius: 18px;
    margin-top: 35px;
    margin-left: 60px;
    /* border: 2px solid red; */
}

.images-container{
    /* border: 2px solid red; */
    align-items: center;
    /* margin-right: 30px; */
    width: 366px;
    height: 312px;
    /* border-radius: 18px; */
}
/* Bonus section */
.about{
    padding-top: 40px;
    margin-bottom: 50px;
}
.about .about-title h2{
    text-align: center;
}
.about .about-box{
    /* border: 2px solid red; */
    background-color: white;
    height: auto;
    width: 20%;
    float: left;
    margin-right: 2%;
}
.about .about-box img{
    width: 100%;
    height: 240px;
    transition: all 0.4s;
    overflow: hidden;
}
.about .about-box p{
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}
.about .about-box{
    margin-bottom: 50px;
}
.about .about-box:hover{
    transform: scale(1.1);
}
.about .about-box .about-text h4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.paragraph-2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}
.run-an-extra-02{
    justify-content: space-between;
    align-items: center;
    margin-left: 290px;
}
.about-box{
    margin-left: 130px;
}
